---

---

<script src="https://kit.fontawesome.com/be4c58b0af.js" crossorigin="anonymous"
></script>
<script>
  import { animate, inView } from "motion";

  inView(".scroll-section h2", (element) => {
    animate(
      element,
      { opacity: 1, x: [-100, 0] },
      { duration: 0.5, ease: [0.17, 0.65, 0.65, 1] },
    );
    console.log("in view");

    return () => animate(element, { opacity: 0, x: -100 });
  });
</script>

<div id="container">
  <header>
    <div id="logo">Jackcheal Dang 🧑🏻‍💻</div>
    <nav id="navbar">
      <ul id="navbar-sections">
        <li><a href="#hero">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="scroll-section" id="hero">
      <!-- <Image src={headshot} alt="headshot" id="headshot" /> -->
      <div class="wrapper">
        <div id="intro">hi, i'm Jackcheal Dang 🧑🏻‍💻</div>
      </div>
      <div>
        i'm a software engineer based in DFW.<br />take a look at my work!&nbsp;<i
          class="fa-solid fa-arrow-down"></i>
      </div>
    </section>
    <section class="scroll-section" id="skills">
      <h2>Skills & Experience</h2>
    </section>
    <section class="scroll-section" id="projects">
      <h2>Projects</h2>
      <div class="bento">
        <ul>
          <li>Minimo - a minimal Todo app</li>
        </ul>
      </div>
    </section>
    <section class="scroll-section" id="contact">
      <h2>Contact me!</h2>
    </section>
  </main>
  <footer>
    <div>© Jackcheal Dang 2025</div>
  </footer>

  <!-- <a href="https://astro.build/blog/astro-5/" id="news" class="box"> -->
  <!-- 	<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg" -->
  <!-- 		><path -->
  <!-- 			d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z" -->
  <!-- 			fill="#111827"></path></svg -->
  <!-- 	> -->
  <!-- 	<h2>What's New in Astro 5.0?</h2> -->
  <!-- 	<p> -->
  <!-- 		From content layers to server islands, click to learn more about the new features and -->
  <!-- 		improvements in Astro 5.0 -->
  <!-- 	</p> -->
  <!-- </a> -->
</div>

<style>
  :root {
    --gray: #868686;
    --light-blue: #8fc0ff;
    --blue: #529dff;
    --white: #ffffff;
    --bg: #1f2335;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.8rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar-sections {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    list-style-type: none;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  #navbar-sections li a {
    font-size: 1rem;
  }
  #hero {
    display: flex;
    flex-direction: row;
  }

  body {
    background-color: #f5f5f7;
    color: black;
    margin: 0;
    padding: 0;
  }

  main {
    box-sizing: border-box;
    width: 100%;
  }

  footer {
    padding: 1rem min(5%, 4rem);
    width: 100%;
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
  }

  a {
    text-decoration: none;
    /* color: var(--gray); */
    color: inherit;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background:
      radial-gradient(var(--color-1) 25%, transparent 50%),
      radial-gradient(var(--color-2) 25%, transparent 50%),
      radial-gradient(var(--color-3) 25%, transparent 50%),
      radial-gradient(var(--color-4) 25%, transparent 50%);
    background-size:
      60% 80%,
      70% 80%,
      80% 80%,
      80% 80%;
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%;
    background-repeat: no-repeat;

    transform: scale(4);

    overflow: hidden;
  }

  .wrapper {
    display: grid;
    place-items: center;
    width: 100%;
  }

  #intro {
    width: min(25ch, 100%);
    animation:
      typing 2s steps(22),
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    /* background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXpibmV4dThlOWtwbGJsY3RnNWM2a2RyejA1OTIxYmk5MXNzMnlhYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L1X6XcN2oxS08VrquP/giphy.gif"); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #container {
    width: 100%;
    font-family:
      Jetbrains Mono,
      Inter;
    height: 100%;
  }

  #headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: clamp(6%, 6rem, 12%) min(5%, 4rem);
    height: 100vh;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  section h2 {
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    #navbar {
      width: 100%;
    }

    #logo {
      display: none;
    }

    #hero {
      flex-direction: column;
      justify-content: center;
      gap: 1rem 0;
    }
  }
</style>
