---
import { Image } from "astro:assets";
import headshot from "../assets/headshot.png";
import background from "../assets/background.svg";
---

<div id="container">
  <header>
    <div id="logo">Jackcheal Dang</div>
    <nav id="navbar">
      <ul id="navbar-sections">
        <li><a href="#hero">About</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="hero">
      <!-- <Image src={headshot} alt="headshot" id="headshot" /> -->
      <div class="wrapper">
        <div id="intro">hi, i'm Jackcheal Dang</div>
      </div>
    </section>
    <section id="skills">
      <h2>Skills & Experience</h2>
    </section>
    <section id="projects">
      <h2>Projects</h2>
    </section>
  </main>

  <!-- <a href="https://astro.build/blog/astro-5/" id="news" class="box"> -->
  <!-- 	<svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg" -->
  <!-- 		><path -->
  <!-- 			d="M24.667 12c1.333 1.414 2 3.192 2 5.334 0 4.62-4.934 5.7-7.334 12C18.444 28.567 18 27.456 18 26c0-4.642 6.667-7.053 6.667-14Zm-5.334-5.333c1.6 1.65 2.4 3.43 2.4 5.333 0 6.602-8.06 7.59-6.4 17.334C13.111 27.787 12 25.564 12 22.666c0-4.434 7.333-8 7.333-16Zm-6-5.333C15.111 3.555 16 5.556 16 7.333c0 8.333-11.333 10.962-5.333 22-3.488-.774-6-4-6-8 0-8.667 8.666-10 8.666-20Z" -->
  <!-- 			fill="#111827"></path></svg -->
  <!-- 	> -->
  <!-- 	<h2>What's New in Astro 5.0?</h2> -->
  <!-- 	<p> -->
  <!-- 		From content layers to server islands, click to learn more about the new features and -->
  <!-- 		improvements in Astro 5.0 -->
  <!-- 	</p> -->
  <!-- </a> -->
</div>

<style>
  :root {
    --gray: #868686;
    --light-blue: #8fc0ff;
    --blue: #529dff;
    --white: #ffffff;
    --bg: #1f2335;
  }

  header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.8rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  }

  #logo {
    display: flex;
    align-items: center;
  }

  #hero {
    display: flex;
    flex-direction: row;
  }

  body {
    background-color: #f5f5f7;
    color: black;
  }

  main {
    margin: 0 4em;
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    /* color: var(--gray); */
    color: inherit;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  #navbar-sections {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 20px 20px;
    list-style-type: none;
    /* color: var(--gray); */
  }

  .wrapper {
    display: grid;
    place-items: center;
    width: 100%;
  }

  #intro {
    width: 22ch;
    animation:
      typing 2s steps(22),
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-size: 2rem;
    font-weight: bold;
    /* background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXpibmV4dThlOWtwbGJsY3RnNWM2a2RyejA1OTIxYmk5MXNzMnlhYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L1X6XcN2oxS08VrquP/giphy.gif"); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #container {
    font-family:
      Jetbrains Mono,
      Inter;
    height: 100%;
  }

  #headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: 3em 2rem;
    height: 100vh;
    align-items: center;
  }
</style>
