---

---

<script>
  import { animate, inView, hover, stagger } from "motion";
  import { createIcons, Github, Link, Linkedin, MoveDown } from "lucide";
  createIcons({
    icons: {
      Link,
      MoveDown,
      Github,
      Linkedin,
    },
  });

  inView(".scroll-section h2", (element) => {
    animate(
      element,
      { opacity: 1, x: [-100, 0] },
      { duration: 0.5, ease: [0.17, 0.65, 0.65, 1] },
    );

    return () => animate(element, { opacity: 0, x: -100 });
  });

  animate(
    ".stagger",
    { opacity: [0, 1], y: [10, 0] },
    { delay: stagger(0.15) },
  );
</script>

<div id="container">
  <header>
    <div id="logo">Jackcheal Dang 🧑🏻‍💻</div>
    <nav id="navbar">
      <ul id="navbar-sections">
        <li class="stagger"><a href="#hero">about</a></li>
        <li class="stagger"><a href="#skills">skills</a></li>
        <li class="stagger"><a href="#projects">projects</a></li>
        <li class="stagger">
          <a class="button" id="contact_button" href="#contact">contact</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="scroll-section" id="hero">
      <!-- <Image src={headshot} alt="headshot" id="headshot" /> -->
      <div class="wrapper">
        <div id="intro">hi, I'm Jackcheal Dang 🧑🏻‍💻</div>
      </div>
      <div id="hero-info">
        <div>
          I'm a software engineer based in DFW.<br />take a look at my work
          below!&nbsp;<i
            data-lucide="move-down"
            style="width: 1rem; height: 1rem;"></i>
        </div>
        <div style="margin-top: 2rem">you can also find me at...</div>
        <div style="display:flex; column-gap: 1.2rem; margin-top: 1rem">
          <div>
            <a
              href="https://github.com/jackchealdang"
              class="btn stagger"
              style="display:flex;align-items: center;"
              ><i
                style="width:1rem;height:1rem;margin-right:0.4rem"
                data-lucide="github"></i>Github</a
            >
          </div>
          <div>
            <a
              href="https://linkedin.com/in/jackchealdang"
              class="btn stagger"
              style="display:flex;align-items: center;"
              ><i
                style="width:1rem;height:1rem;margin-right: 0.4rem;"
                data-lucide="linkedin"></i>LinkedIn</a
            >
          </div>
        </div>
      </div>
    </section>
    <section class="scroll-section" id="skills">
      <h2>Skills & Experience</h2>
      <div class="experience-grid">
        <div class="experience">
          <div class="company-role">Paycom</div>
          <div class="date-location">June 2023 &mdash; Jan 2025</div>
          <div class="experience-details">
            <ul>
              <!-- <li>- Contributed massive work!</li> -->
            </ul>
          </div>
        </div>
        <div class="experience">
          <div class="company-role">L3Harris Technologies</div>
          <div class="date-location">Feb 2022 &mdash; March 2023</div>
          <div class="experience-details"></div>
        </div>
        <div class="experience">
          <div class="company-role">State Farm</div>
          <div class="date-location">May 2021 &mdash; July 2021</div>
          <div class="experience-details">
            <ul>
              <li>
                <!-- &hybull; Developing and maintaining CRM software with React, -->
                <!-- JavaScript, PHP, and Composer. -->
              </li>
            </ul>
          </div>
        </div>
        <div class="experience">
          <div class="company-role">Heracleia REU Program</div>
          <div class="date-location">Aug 2020 &mdash; Feb 2021</div>
          <div class="experience-details"></div>
        </div>
        <div class="experience">
          <div class="company-role">TexPREP</div>
          <div class="date-location">May 2019 &mdash; Aug 2019</div>
          <div class="experience-details"></div>
        </div>
      </div>
    </section>
    <section class="scroll-section" id="projects">
      <h2>Projects</h2>
      <div class="bento">
        <ul>
          <li>
            <a href="https://jackchealdang.github.io/minimo">
              <strong>Minimo </strong>
              <i data-lucide="link" style="width: 1rem; height: 1rem;"></i>
              - a minimal Todo app
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="scroll-section" id="contact">
      <h2>Contact me!</h2>
    </section>
  </main>
  <footer>
    <div>© Jackcheal Dang 2025</div>
  </footer>
</div>

<style>
  :root {
    --gray: #868686;
    --light-blue: #8fc0ff;
    --blue: #529dff;
    --white: #ffffff;
    --bg: #1f2335;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    z-index: 1000;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.8rem;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(40, 40, 40, 0.1);
  }

  #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  #navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar-sections {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 0 20px;
    list-style-type: none;
    font-weight: bold;
  }

  #navbar_sections ul {
    padding: 0;
    margin: 0;
  }

  #navbar-sections li a {
    font-size: 1rem;
  }
  #hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 46vh;
    align-items: flex-start;
  }

  #hero-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  body {
    background-color: #f5f5f7;
    color: black;
    margin: 0;
    padding: 0;
  }

  main {
    box-sizing: border-box;
    width: 100%;
  }

  footer {
    padding: 1rem min(5%, 4rem);
    width: 100%;
    display: flex;
    /* justify-content: flex-end; */
  }

  html {
    scroll-behavior: smooth;
    width: 100%;
  }

  a {
    text-decoration: none;
    /* color: var(--gray); */
    color: inherit;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background:
      radial-gradient(var(--color-1) 25%, transparent 50%),
      radial-gradient(var(--color-2) 25%, transparent 50%),
      radial-gradient(var(--color-3) 25%, transparent 50%),
      radial-gradient(var(--color-4) 25%, transparent 50%);
    background-size:
      60% 80%,
      70% 80%,
      80% 80%,
      80% 80%;
    background-position:
      0 0,
      0 100%,
      50% 0,
      50% 100%;
    background-repeat: no-repeat;

    transform: scale(4);

    overflow: hidden;
  }

  .wrapper {
    display: grid;
    place-items: center;
  }

  #intro {
    width: min(25ch, 100%);
    animation:
      typing 2s steps(22),
      blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
    /* background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExMXpibmV4dThlOWtwbGJsY3RnNWM2a2RyejA1OTIxYmk5MXNzMnlhYSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/L1X6XcN2oxS08VrquP/giphy.gif"); */
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-background-clip: text; */
  }

  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  #container {
    width: 100%;
    font-family:
      Jetbrains Mono,
      monospace,
      Inter,
      -apple-system,
      system-ui;
    height: 100%;
  }

  #headshot {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }

  section {
    display: flex;
    flex-direction: column;
    padding: clamp(6%, 6rem, 12%) min(5%, 4rem);
    min-height: 100vh;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
  }

  section h2 {
    text-align: center;
    padding: 1rem 0 3rem;
  }

  .experience-grid {
    display: flex;
    flex-direction: column;
    width: min(90%, 800px);
    padding: 2rem;
    border-radius: 0.65rem;
    background-color: white;
  }

  .experience {
    display: grid;
    grid-template-rows: repeat(2, 2rem);
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-template-areas:
      "company-role date-location"
      "experience-details experience-details";
  }

  .company-role {
    grid-area: company-role;
    font-weight: bold;
  }

  .date-location {
    width: 100%;
    grid-area: date-location;
    text-align: end;
    font-weight: bold;
  }

  .btn {
    background-color: var(--light-blue);
    padding: 0.4rem 0.65rem;
    border-radius: 16px;
    font-weight: bold;
  }

  i {
    font-size: 1rem;
  }

  .experience-details {
    display: flex;
    grid-area: experience-details;
  }

  .experience-details ul {
    list-style-type: none;
  }

  #contact_button {
    background-color: var(--light-blue);
    padding: 0.5rem 0.65rem;
    border-radius: 16px;
  }

  @media screen and (max-width: 600px) {
    #navbar {
      width: 100%;
    }

    #logo {
      display: none;
    }
  }

  @media screen and (max-width: 790px) {
    #hero {
      flex-direction: column;
      justify-content: center;
      gap: 1rem 0;
    }
  }
</style>
